/* Empty. Add your own CSS if you like */
@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);


/* The * selector applies styling for ALL selectors,
	Mostly used for reseting and such */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;


}

body{
	font-size: 1rem ;
	font-family: Open Sans;
	font-style: 700;

}











/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}



.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em; 
	min-height: 0;
	font-size: 100%;

}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: 0px;
	background-color: #;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
	height: 100px;
	margin: 0px 0;
	border: 1px solid red;
}

.ui-icon{

}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: #fc735f;
	font-weight: normal;
	color: #ffffff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #eeeeee;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: #;
	font-weight: bold;
	color: #ffffff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	background: #fc735f;
	font-weight: bold;
	color: #ffffff;
	opacity: 0.7;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #fc735f;
	text-decoration: none;
}



/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0px;
}


.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr

/* end accordion styling */




h2, h3, p, {
	font-weight: 400italic;
}

.wrapperPage {
	width: 100%;
	margin: 0 auto;
	background-color: #f2f2f2;

}



.wrapperRow {
	width: 100%;
	background-color: #fc735f;
	border: 1px #f2f2f2 solid;
	padding: 2%;

}


h2, .bold {
	font-family:'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	font-size: 2rem;

}

h3, .regular{
	font-family:'Open Sans', sans-serif;
	font-weight: 400;
	color: white;
	line-height: 1rem;
	font-size: 1rem;
}

.subscriptionDetailsPerson{
	width: 100%;
	background-color: #fc735f;
	
	overflow: hidden;

	
}

#data, #call, #text{
	width: 100%;
	background-color: #fc735f;
	padding: 4%;
	position: relative;

}

.absoluteCentered{
	width: 100%;
  	height: 50%;
  	overflow: auto;
  	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}




.label{
	float: left;
	width: 10%;

}

.bar{
	float: left;
	width: 80%;
}

.btn{
	float: right;
	width: 2rem;
	height: 2rem;
}

.Used{
	float: left;
	width: 80%;
	background-color: #ffffff;
	opacity: 1;
	height: 2rem;
}

.Unused{
	float: left;
	width: 20%;
	background-color: #ffffff;
	opacity: 0.4;
	height: 2rem;
	
}
